.col-md-4, nav{
  background-color: lightblue;
}
h2{
  background: SteelBlue;
}
#fleche{
  position: fixed;
  top: 95%;
  right: 3%;
  opacity: 0.6;
}
.progress-bar{
  font-size: 17px;
}
.progress{
  border: 1px solid;
}
